#radio_box {
  width: 90%;
  background: silver;
  border: 1px solid silver;
  box-shadow: 4px 4px 8px silver;
  margin: 5px auto;
}

#names {
  background: white;
  text-align: center;
  padding: 3px;
}

.menu_radios > li {
  display: inline-block;
  background: #737171;
  padding: 0 3px;
  border: 1px solid;
  margin: 0 2px;
  color: white;
  font-size: 0.7em;
  box-shadow: 2px 2px 5px silver;
  cursor: pointer;
  user-select: none;
}

.menu_radios > li:hover {
  background: #4c1a1a;
}

div#outputs {
  padding: 5px;
  background: moccasin;
  text-align: center;
  max-height: 500px;
  overflow-y: auto;
  font-size: 1.5em;
}

div#outputs ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 5px;
}

.selactive {
  background: #4c1a1a !important;
}

.main_title,
.main_title_small {
  padding: 5px;
  border: 1px solid;
  font-size: 1.3em;
  background: #949292;
  color: white;
  text-align: center;
  font-family: cursive;
}

.main_title_small {
  font-size: 0.9em;
  background: #4a3737;
  margin: 15px 0;
}

.box_inner > ul li,
#outputs > ul li {
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  background: #949292;
  color: white;
  zoom: 0.5;
  box-shadow: 8px 8px 20px black;
}

@-moz-document url-prefix() {
  .box_inner > ul li,
  #outputs > ul li {
    width: 170px;
    word-wrap: break-word;
  }

  li audio {
    transform: translate(-60px, 0) scale(0.6);
  }
}

#foot {
  text-align: right;
  margin-right: 3px;
  padding: 5px;
  background: dimgray;
  border-top: 1px solid white;
  color: white;
  font-size: 0.8em;
}

.box_radio {
  background: #504f4f;
  margin-bottom: 2px;
  color: white;
  cursor: pointer;
}

.title_ganre {
  background: #6f293f;
}

.box_inner {
  display: none;
}

#box_codes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2cccc;
  border: 1px solid silver;
  text-align: center;
  padding: 5px;
  opacity: 0.8;
  display: none;
}
textarea#texta {
  width: 520px;
  height: 400px;
}

.textarea_info {
  background: darkgray;
  color: white;
  padding: 3px;
}
.textarea_info > div {
  float: right;
  margin-right: 5px;
  color: yellow;
  cursor: pointer;
}

.waiting {
  text-align: center;
  padding: 10px;
  border: 3px dashed cyan;
  border-radius: 8px;
  background: white;
  color: #0da1a1;
  width: 80%;
  margin: 0 auto;
  animation: 1s waiting infinite;
  position: relative;
}

@keyframes waiting {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(45deg);
  }
}
