body {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
  background: #cdd0d3;
}

a {
  text-decoration: none;
  color: rgb(10, 222, 203);
}

.wrapper {
  max-width: 960px;
  margin: 50px auto;
  background-color: white;
  box-shadow: 0 10px 50px #00c0ff9c;
}

.logo {
  min-height: 100px;
  background-image: linear-gradient(#21a7e7, #03162e);
}

.logo_text {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  float: right;
  margin: 30px;
  text-shadow: 0 3px 5px black;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  border: solid #1d94cf;
  border-width: 1px 0 1px 0;
  transition: 400ms;
  margin: 0;
  padding: 0;
}

.navbar a {
  flex: 1;
  background: rgb(3, 32, 46);
  padding: 5px;
  transition: 400ms;
}

.navbar a:hover {
  background: rgb(26, 88, 119);
}

.navbar a {
  color: #73ffff;
}

.container_content {
  padding: 10px;
  margin: 5px 0;
}

footer {
  background: #051134;
  color: white;
  min-height: 60px;
}

.author_info {
  float: left;
  margin: 25px;
  font-size: 0.8em;
}

.social {
  float: right;
  margin: 15px 20px;
}

.social a {
  display: inline-block;
}

.social_icon {
  background-image: url("/images/social.png");
  padding: 15px;
  transition: 400ms;
}

.social_icon:hover {
  filter: brightness(1.5);
}

.social_icon.twitter {
  background-position: 60px 0;
}

.social_icon.goplus {
  background-position: 30px 0;
}

.social_icon.facebook {
  background-position: 0 0;
}

.social_icon.viber {
  background-position: 90px 0;
}

.posts_box,
.posts_list {
  margin: 10px;
  color: #555555;
  list-style: none;
  padding: 0;
}

.posts_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.posts_box {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
}

.posts_box > li {
  background: #c6cbcc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post_title {
  background: #0e4c73;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_title a {
  color: white;
}

.post_title a:hover {
  color: #73ffff;
}

.post_content {
  padding: 10px;
}

.post_row {
  display: flex;
}

.post_content > .post_row div {
  padding: 10px;
}

.post_content > .post_row div:nth-of-type(2) {
  border: 1px solid darkgray;
  padding-left: 20px;
  margin-left: 10px;
  width: 100%;
  background: white;
  border-radius: 8px;
}

.posts_list > li {
  background: #2f74a5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.posts_list li:hover {
  background-image: linear-gradient(#206b8f, #031f3b);
}

.icon_message {
  max-width: 128px;
}

.buttons {
  padding: 5px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.read-post:hover {
  background: linear-gradient(#489fcb, #244461);
}

.read-post {
  background: linear-gradient(#1d94cf, #05223d);
  color: white;
  border-radius: 0 0 8px;
  font-size: 0.8em;
  display: inline-block;
}

.foot_post {
  text-align: right;
}

pre {
  background: #a3cddc;
  padding: 5px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 1rem;
}

.support_box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  transition: 1s all;
}

.support_box > div:not(:last-child) {
  border-bottom: 2px dotted #051134;
}

.support_item {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  margin: 10px;
}

.support_item_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.support_item pre {
  text-align: center;
  white-space: normal;
  word-break: break-all;
}

/* Projects */
.projects_list_box {
  padding: 2px;
  background: #ffffff;
  border-radius: 8px;
  border: 2px dashed silver;
}

/* Group styles */
.group {
  list-style: none;
  user-select: none;
  /* border-left: 1px dashed silver; */
  overflow: hidden;
}

.group_title {
  background: #73ffd7;
  color: white;
  font-weight: bold;
  width: max-content;
  padding: 3px 10px;
  border-radius: 8px;
  text-shadow: 1px 1px 1px black;
  transition: 0.8s all;
  margin: 5px 0;
  cursor: pointer;
}

.group_item {
  position: relative;
}

.group_title:hover {
  background: #19a37c !important;
}

.group:not(.group_empty, .group_links)::before {
  content: "";
  height: 100%;
  width: 1px;
  border-left: 1px dashed silver;
  position: absolute;
  top: 25px;
  left: 10px;
}

.group_links .group_title {
  background: transparent;
}

.group_title::before {
  content: "";
  width: 3.5%;
  height: 1px;
  border-top: 1px dashed silver;
  position: absolute;
  right: 100%;
  top: 10px;
}

/* mediaqueries */
@media only screen and (max-width: 750px) {
  .posts_box {
    font-size: 0.6rem;
  }
  .navbar {
    font-size: 0.8rem;
  }
  .icon_message {
    max-width: 90px;
  }
  .post_content > .post_row div {
    padding: 5px;
  }
  .post_content {
    padding: 5px;
  }
  .support_box,
  .support_item pre {
    font-size: 0.7rem;
  }
  blockquote {
    margin: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .posts_box {
    font-size: 0.6rem;
  }
  .navbar {
    font-size: 0.6rem;
  }
  .post_content > .post_row div {
    padding: 2px;
  }
}

@media only screen and (max-width: 450px) {
  .posts_box {
    font-size: 0.4rem;
  }
  .icon_message {
    max-width: 70px;
  }
}
