<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="wrapper">
    {% include header.html %}

    <div class="container_content">

      {% if page.url != "/" %}
      <div style="margin-left: 3px;font-size:1.5em;" id="content">
      {{ page.title }}
      </div>
      <div style="background: #f3f3f3;padding: 10px;" id="content">
        {{ content }}
      </div>
      {% else %}
      {{ content }}
      {% endif %}
    </div>


    {% include footer.html %}
  </div>
</body>

</html>
